html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li, ul, ol{list-style: none;}
a{text-decoration: none;}


body{max-width: 768px;font-family: Arial;}
.wrapped{background-color: black;}
.col12 h1{background: url(images/logo.png)no-repeat;height: 26px;width: 166px;
text-indent: -900px;margin: 32px;}
.col12 header ul{border-bottom: solid 2px;overflow: hidden;border-color: rgb(222,222,222);width: 768px;}
.col12 li{float: left;margin-top: 30px;}
.col12 header a{padding: 10px 24px;color: black;display: block;}
.col12 header a:hover{background-color: rgb(222,222,222);}






.col1 {width: 5.5078%;
		margin: 1.3020% 0px 0px 2.6041%;
		
		float: left;
		height: 50px;}
.col2 {width: 13.6197%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}

.col3 {width: 21.7317%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col4 {width: 29.8437%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col5 {width: 37.9557%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}

.col6 {width: 46.0677%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col7 {width: 54.1796%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col8 {width: 62.2916%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col9 {width: 70.4036%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col10 {width: 78.5156%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col11 {width: 86.6276%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}
.col12 {width: 94.7395%;
		margin: 1.3020% 0px 0px 2.6041%;
		float: left;
		height: 50px;}